.Contents
  .Dropdown
    %ul.Doropdown__lists
      %li 
        = current_user.nickname 
        さん
      %li 
        = link_to user_path(current_user.id) do 
          My page
      %li
        =link_to destroy_user_session_path, method: :delete do 
          Log out
  .Container 
    .Edit-post 
      = form_with(model: @tweet, local: true, class: "Edit-post__form") do |form|
        %h3.Edit-post__form--title
          編集
        = render "layouts/error_messages", model: form.object
        = form.file_field :image, placeholder: "Image", class: "Edit-post__form--image" 
        = form.text_area :text, placeholder: "text", class: "Edit-post__form--text"
        = form.submit "SEND", class: "Edit-post__form--send"

      %p.Edit-post__share
        さぁ、旅に出ようか