.Contents
  = render "dropdown"
  .Container
    .New-post 
      = form_with(model: @tweet, local: true, class: "New-post__form") do |form|
        %h3.New-post__form--title
          新規投稿
        = render "layouts/error_messages", model: form.object
        = form.file_field :image, placeholder: "Image", class: "New-post__form--image" 
        = form.collection_select :category_id, Category.all, :id, :name
        = form.text_area :text, placeholder: "text", class: "New-post__form--text"
        = form.submit "SEND", class: "New-post__form--send"

      %p.New-post__share
        自分が見つけた光景を
        %br 
        みんなにシェアしましょう。
       