.Contents 
  .Dropdown
    - if user_signed_in?
      %ul.Doropdown__lists
        %li 
          = current_user.nickname 
          さん
        %li 
          = link_to user_path(current_user.id), data: {"turbolinks"=>false} do 
            My page
        %li
          =link_to destroy_user_session_path, data: {"turbolinks"=>false}, method: :delete do 
            Log out
    - else 
      %ul.Dropdown__lists 
        %li 
          = link_to new_user_registration_path, data: {"turbolinks"=>false} do 
            Sign in 
        %li 
          = link_to user_session_path, data: {"turbolinks"=>false} do 
            Log in
  .Container
    .Show-post
      = link_to user_path(@tweet.user_id), data: {"turbolinks"=>false}, class: "Show-post__users" do
        - if @tweet.user.user_image.url.nil?
          = image_tag "user-icon.png", alt: "ユーザー", class: "Show-post__users--icon"
        - else
          = image_tag  @tweet.user.user_image.url, alt: "写真１", class: "Show-post__users--icon"
        %p.Show-post__users--name 
          = @tweet.user.nickname

      %img{ src: @tweet.image, alt: "写真１", class: "Show-post__image"} 

      .Show-post__contents 
        .Show-post__contents__like-btn 
          いいね！ 2
        .Show-post__contents__list 
          - if user_signed_in? && current_user.id == @tweet.user_id
            = link_to edit_tweet_path(@tweet.id), data: {"turbolinks"=>false}, class: "Show-post__contents__list__edit" do 
              Edit

            = link_to tweet_path(@tweet.id), data: {"turbolinks"=>false}, method: :delete, class: "Show-post__contents__list__destroy" do 
              Delete
              

      .Show-post__text 
        .Show-post__text__box 
          = @tweet.text

    .Comments
      - if current_user
        = form_with model: [@tweet, @comment], local: true, id: "new_comment" do |f|
          = f.text_area :text, placeholder: "コメントを追加...", rows: "3", class: "textbox"
          = f.submit "投稿する", class: "form__submit"
      - else 
        .need-login
          *** コメントの投稿には新規登録/ログインが必要です ***
      .lists
        - if @comments
          - @comments.each do |comment|
            .list 
              .list__name
                = link_to user_path(comment.user_id), data: {"turbolinks"=>false} do
                  = "#{comment.user.nickname} :"
              .list__text
                = comment.text


          
          


