.Contents
  .Dropdown
    - if user_signed_in?
      %ul.Doropdown__lists
        %li 
          = current_user.nickname 
          さん
        %li 
          = link_to user_path(current_user.id), data: {"turbolinks"=>false} do 
            My page
        %li
          =link_to destroy_user_session_path, data: {"turbolinks"=>false}, method: :delete do 
            Log out
    - else 
      %ul.Dropdown__lists 
        %li 
          = link_to new_user_registration_path, data: {"turbolinks"=>false} do 
            Sign in 
        %li 
          = link_to user_session_path, data: {"turbolinks"=>false} do 
            Log in


  .Container
    .Top-container 
      .Top-container__messages
        %h2.Top-container__messages--message
          旅の過程にこそ価値がある。
        %p.Top-container__messages--name
          スティーブ・ジョブズ
    .Main-container
      %h1.Main-container__title 
        Posts List
      
      .Main-container__posts
        .Category 
          = link_to gourmet_tweets_path, class: "Category__gourmet ", data: {"turbolinks"=>false} do  
            Gourmet
          = link_to spot_tweets_path, class: "Category__spot ", data: {"turbolinks"=>false} do
            Spot 
        .Post-new 
          .Post-new__images
            - @tweets.each do |tweet|
              .Post-new__images__image
                = link_to tweet_path(tweet.id), data: {"turbolinks"=>false}, method: :get do 
                  %img{ src: tweet.image.url, alt: "写真１", class: "Post-new__images__image__photo"}
               
          

          
        
          
            


