.Contents 
  .Dropdown
    - if user_signed_in?
      %ul.Doropdown__lists
        %li 
          = current_user.nickname 
          さん
        %li 
          = link_to user_path(current_user.id) do 
            My page
        %li
          =link_to destroy_user_session_path, method: :delete do 
            Log out
    - else 
      %ul.Dropdown__lists 
        %li 
          = link_to new_user_registration_path do 
            Sign in 
        %li 
          = link_to user_session_path do 
            Log in
  .Container 
    .Top
      .Top__user
        - if @user.user_image?
          = image_tag  @user.user_image.url, alt: "写真１", class: "Top__user__image"          
        - else
          = image_tag "user-icon.png", alt: "ユーザー", class: "Top__user__image"
        .Top__user__profile
          .Top__user__profile__name
            = @nickname
            %span/
            Number of posts: 
            = @count
          - if user_signed_in? && current_user.id.to_s == params[:id]
            = link_to  edit_user_path, class: "Top__user__profile__prof" do 
              ProfileEdit
              = icon('fas', 'cog')
          .Top__user__profile__text 
            = @profile

    .Main
      %h1.Main__title 
        Posts List

      .Category 
        .Category-left
          = link_to "#", class: "Category__gourmet " do 
            Gourmet
          = link_to "#", class: "Category__spot " do 
            Spot 
          = link_to "#", class: "Category__like" do 
            Like
      .Post-user
        .Post-user__images
          - @tweets.each do |tweet|
            .Post-user__images__image
              = link_to tweet_path(tweet.id), method: :get do 
                %img{ src: tweet.image, alt: "写真１", class: "Post-user__images__image__photo"}


